/* selectores de etiqueta */
/* configuraciones predeterminadas de la web */

a{
   text-decoration: none;
   color: white;
}
ul {
   list-style: none;
}
body {
   color: white;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
   background-color: black;
   padding: 0px 100px;
   margin: 0;
}
main{
   width: 100%;
   flex-wrap: wrap;
}
#footer{
   display: flex;
   align-items: bottom;
   font-family: sans-serif;
   align-self: bottom;
   font-size: 13px;
   color: #959595;
}

/* header */
#header{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   height: 150px;
  
}

.logo{
   display: flex;
   height: 70px;
   width: 70px;
   justify-content: center;
   align-items: center;
 
}

.barra{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}
.nav {
   display: flex;
   align-content: center;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}
.nav1{
   list-style-type: none;
   display:flex;
   flex-direction: row;
   list-style: none;
   color: #ffffff;
   font-family: sans-serif;
}
li {
   margin: 10px;
}
.link{
   color:#a7a3a3;
   font-family: sans-serif;
   font-size: 13px;
   display: flex;
   flex-direction: row;
   flex-wrap:wrap;
   align-items: center;
   justify-content: flex-end;
}
.lr{
   margin: 10px;
}

/* main */
.cuerpo{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: flex-start;

}
 

.articulo{
   width: 200px;
   display: flex;
   flex-direction: column;
   align-content: center;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   margin: 5px;
   
}
.img{
   width: 200px;
   height: 300px;
   border-radius: 10px;
}


/* css de detalle de película y serie */
.imgdetalles{
   width: 300px;
   
   border-radius: 20px;

}
.detalles {
   display: flex;
   align-self: center;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}
#maindetalles{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}



/* css de Login */
#mainlogin{
   display: flex;
   font-family: sans-serif;
   flex-direction: column;
   margin: 15px;
   

}
.login{
   display: flex;
   color: #ff0000;
   justify-content: center;

}

.forml{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 15px;
}

.emailL{
   margin-top: 15px;
   margin-bottom: 15px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.email{
   display: flex;
   justify-content: center;
}

.correo{
   display: flex;
   margin: 10px;
   

}

.contraseñaL{
   margin-top: 15px;
   margin-bottom: 15px;

}

.contraseña{
   display: flex;
   margin: 10px;
}

.contraseñalogin{
   display: flex;
   justify-content: center;
}
   
.botonL{
   display: flex;
   justify-content: center;
   margin-top: 15px;
   margin-bottom: 15px;
   font-size: 13px;
   text-decoration: underline;
}

.boton{
   color:rgb(255, 255, 255);
   background-color: #ff0000;
}
/*search results*/
.oculto {
   display: none;
}
.encontrados {
   display: none;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}
.textofound {
   display:block
}
.cargando {
   display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}
.imgerror {
   width: 300px;
}
/* css genero*/
.generotitulo{
   display: flex;
   align-self: flex-start;
}
.generos {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.listado {
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   justify-content: center;
}
.g {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}

/* css de register */
#mainregister{
   display: flex;
   font-family: sans-serif;
   flex-direction: column;
   margin: 15px; 
}

.register{
   display: flex;
   color: #ff0000;
   justify-content: center;

}
.emailr{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
   margin: 5px;
}

.form{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 15px;
   padding: 15px;
}
.fr{
   margin: 5px;
}

.termycond{
   font-size: 14px;
}

/* adaptacion a celular */
  
@media (max-width:450px) {
   body{
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
   }
   header{
      width: 100%;
   }
   .nav1{
      display: flex;
      flex-direction: column;
   }
   main{
      display: flex;
      flex-direction: column;
   }
   .cuerpo {
      display: flex;
      flex-direction: column;}
   .img{
      width: 400px;
      height: auto;
   }
   .peli{
      width:100%;
   }
   .serie{
      width: 100%;
   }
   .imgdetalles{
      width: 400px;
   }
}







