/* selectores de etiqueta */
/* header */

*{
   background-color: black;
   margin-left: 40px;
   margin-right: 40px;
}

.header{
    display: flex;
    display: block;
    border: 30px;
    border-color: #ff0000;

}


.logo{
   display: block;
   display: flex;
   height: 70px;
   width: 70px;
   justify-content: center;
   align-items: center;
   margin-top: 20px;


}


.nav{
   display: flex;
   list-style: none;
   justify-content: center;
   justify-content: space-around;
   color: #ffffff;
   font-family: sans-serif;
   align-items: center;



}

.search{
   display: block;
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   margin-right: 200px;
}


.link{
   color:#a7a3a3;
   font-family: sans-serif;
   font-size: 13px;

   
   
}



