/* selectores de etiqueta */
/* configuraciones predeterminadas de la web */

a{
   text-decoration: none;
   color: white;
}
body {
   color: white;
   display: flex;
   flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-left: 200px;
    margin-right: 200px;
}

#footer{
   display: flex;
   align-items: bottom;
   font-family: sans-serif;
   align-self: bottom;
   font-size: 13px;
   color: #959595;
}

/* header */
#header{
   width: 100%;
}

.logo{
   display: flex;
   height: 70px;
   width: 70px;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}



.barra{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}
.nav {
   display: flex;
       align-content: center;
       flex-direction: row-reverse;
       flex-wrap: wrap;
       justify-content: space-around;
       align-items: center;
}
.nav1{
   display:flex;
   flex-direction: row;
    list-style: none;
    color: #ffffff;
    font-family: sans-serif;
}
li {
   margin: 10px;
}
.link{
   color:#a7a3a3;
   font-family: sans-serif;
   font-size: 13px;
   display: flex;
   flex-direction: row;
   flex-wrap:wrap;
   align-items: center;
   justify-content: flex-end;
}
.lr{
   margin: 10px;
}

/* main */
.cuerpo{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.peli{
   width: 20%;
   display: flex;
   flex-direction: column;
   align-content: center;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.serie{
   width: 20%;
   display: flex;
   flex-direction: column;
   align-content: center;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.img{
   width: 200px;
   height: 300px;
}

/* css de detalle de película y serie */
.imgdetalles{
   width: 500px;
   display: flex;
   justify-self: center;
}
.detalles {
   display: flex;
       align-self: center;
       flex-direction: column;
       flex-wrap: wrap;
       align-content: center;
       justify-content: center;
       align-items: center;
}
.detail{
   display: flex;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#maindetalles{
   display: flex;
   flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}



/* css de Login */
#mainlogin{
   display: flex;
   font-family: sans-serif;
   flex-direction: column;
   margin: 15px;

}
.login{
   display: flex;
   color: #ff0000;
   justify-content: center;

}

.forml{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 15px;
}

.usuarioL{
   margin-top: 15px;
   margin-bottom: 15px;
}

.user{
   display: flex;
   justify-content: center;
}

.usuario{
   display: flex;
   margin: 10px;

}

.contraseñaL{
   margin-top: 15px;
   margin-bottom: 15px;

}

.contraseña{
   display: flex;
   margin: 10px;
}

.contraseñalogin{
   display: flex;
   justify-content: center;
}
   
.botonL{
   display: flex;
   justify-content: center;
   margin-top: 15px;
   margin-bottom: 15px;
   
}

.botonlogin{
   color: #ffffff;

}

/* css de register */
#mainregister{
   display: flex;
   font-family: sans-serif;
   flex-direction: column;
   margin: 15px;
}

.register{
   display: flex;
   color: #ff0000;
   justify-content: center;

}

.formr{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 15px;
}








.botonR{
   display: flex;
   justify-content: center;
   margin-top: 15px;
   margin-bottom: 15px;

}

.botonregister{
   color: #ffffff;
}


  








